<div class="range-chart-wrapper row">
	<div id="slider" >
		
	</div>
	<div class="range-chart-baseline">
		
	</div>
	<div class="save-button-wrapper">
		<button class="btn btn-primary" ng-click="slider.save()">
			Сохранить
		</button>
	</div>
</div>
